<div th:fragment="add_movie">

    <form id="add-movie-form">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" required>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required>

        <label for="director">Director:</label>
        <select id="director" name="director">
            <option value="">Select a director</option>
            <option th:each="director : ${directors}" th:value="${director.id}" th:text="${director.firstName} + ' ' + ${director.lastName}"></option>
        </select>

        <br><br>
        <button type="submit">Add Movie</button>

    </form>

</div>