<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admissions</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>
    <h1>Admissions List</h1>
    <ul th:each="admission : ${admissions}">
        <li>
            <ul style="list-style-type:disc; margin-top:2em;">
                <li><p th:text="${'Admission ID:' + admission.admId}"></p>
                    <form th:style="${admission.dateOut == null}? 'display: block;' : 'display: none;'"
                          th:action="@{/api/admissions/{id}/writeOut(id = ${admission.admId})}" method="post">
                        <input type="submit" value="Submit" th:value="${'Write Out'}">
                    </form>
                </li>
                <li><p th:text="${'Patient ID: ' + admission.patId}"></p></li>
                <li><p th:text="${'Date In: ' + admission.dateIn}"></p></li>
                <li><p th:text="${'Date Out: ' + (admission.dateOut == null? '-' : admission.dateOut)}"></p></li>
                <li><p th:text="${'Diagnosis: ' + admission.diagnosis}"></p></li>
                <li><p th:text="${'Department: ' + admission.department}"></p></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>