<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
</head>
<body>

<h2>Change your password</h2>

<form th:action="@{/change-password}" method="post">
    <input type="hidden" name="_method" value="put"/>

    <div>
        <label>Username:</label>
        <input type="text" readonly name="username" th:value="${username}"/>
    </div>

    <div>
        <label>Current Password:</label>
        <input type="password" name="currentPassword" required>
    </div>


    <div>
        <label>New Password:</label>
        <input type="password" name="newPassword" required>
    </div>

    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" required>
    </div>

    <div th:if="${error}">
        <p style="color:red" th:text="${error}"></p>
    </div>

    <button type="submit">Change Password</button>
</form>

</body>
</html>