<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/layout.css}" rel="stylesheet" type="text/css" media="all" />
    <script src="https://unpkg.dev/htmx.org@2.0.8"></script>
    <title>Secret</title>
</head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container">
    <h1>Secret</h1>
    <p th:text="${secret}"></p>
</div>
<h2>Add new user</h2>
<form hx-post="/api/user/create" hx-trigger="submit" hx-target="#response" >

    <label for="username">Username</label>
    <input type="text" name="userName" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" placeholder="password">

    <button type="submit">Save user</button>
</form>
<div id="response"></div>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>