<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Workouts</title>
</head>
<body>
<h1>All Workouts</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Calories</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.name}"></td>
        <td th:text="${workout.duration}"></td>
        <td th:text="${workout.caloriesBurned}"></td>
        <td th:text="${workout.date}"></td>
        <td>
            <form th:action="@{/workouts/delete/{id}(id=${workout.id})}" method="post">
                <button type="submit" class="button" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h2>Add new workout</h2>
<form th:action="@{/workouts/add}" method="post">
    Activity: <input type="text" name="name" required/>
    Duration (min): <input type="number" name="duration" required/>
    Date: <input type="date" name="date" required/>
    <button type="submit" class="button">Add</button>
</form>
</body>
</html>