<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Workouts</title>
</head>
<body>
<h1>All Workouts</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Calories</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workout : ${workouts}" th:if="${workouts != null}">
        <td th:text="${workout.name}"></td>
        <td th:text="${workout.duration}"></td>
        <td th:text="${workout.caloriesBurned}"></td>
        <td th:text="${workout.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>